{% extends 'base/base.html' %}

{% block body %}
<div class="col-md-12">
    <h4>Member</h4>
    <div class="memberCreate" style="margin-bottom: 10px;">
        <a href="{% url 'member:create' %}" class="btn btn-warning">
            Create Member
        </a>
    </div>
</div>
<table class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>{{ member.name }}</td>
            <td>{{ member.position }}</td>
            <td>{{ member.age }}</td>
            <td>{{ member.gender }}</td>
            <td>{{ member.phone }}</td>
            <td><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >Edit</button></td>
            <td><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" >Delete</button></td>
        {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock %}